<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A Planner Application, Author: rahulsiddarth "
    />
    <link rel="stylesheet" href="./styles/plannerStyle.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Planner</title>
    <script>
      function allowDrop(ev) {
        ev.preventDefault();
      }
      function drag(ev) {
        ev.dataTransfer.setData('text', ev.target.getAttribute('data-id'));
      }
    </script>
  </head>
  <body>
    <svg class="icons">
      <symbol id="tickIconSVG" viewBox="0 0 24 24">
        <title>Mark as done</title>
        <path
          d="M15.264 8.148L10.116 13.308L8.136 11.328C8.02843 11.2024 7.89605 11.1004 7.74717 11.0283C7.59829 10.9563 7.43613 10.9158 7.27087 10.9094C7.10561 10.9031 6.94081 10.9309 6.78682 10.9912C6.63283 11.0516 6.49297 11.1431 6.37602 11.26C6.25908 11.377 6.16757 11.5168 6.10724 11.6708C6.04691 11.8248 6.01906 11.9896 6.02545 12.1549C6.03183 12.3201 6.07231 12.4823 6.14433 12.6312C6.21636 12.78 6.31839 12.9124 6.444 13.02L9.264 15.852C9.37613 15.9632 9.50911 16.0512 9.65532 16.1109C9.80152 16.1706 9.95808 16.2009 10.116 16.2C10.4308 16.1987 10.7325 16.0737 10.956 15.852L16.956 9.852C17.0685 9.74044 17.1578 9.60772 17.2187 9.46149C17.2796 9.31526 17.311 9.15841 17.311 9C17.311 8.84158 17.2796 8.68474 17.2187 8.53851C17.1578 8.39228 17.0685 8.25955 16.956 8.148C16.7312 7.9245 16.427 7.79905 16.11 7.79905C15.793 7.79905 15.4888 7.9245 15.264 8.148ZM12 0C9.62663 0 7.30655 0.703788 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.913451 7.4078C0.00519941 9.60051 -0.232441 12.0133 0.230582 14.3411C0.693605 16.6689 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0866C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6935 24 14.3734 24 12C24 10.4241 23.6896 8.8637 23.0866 7.4078C22.4835 5.95189 21.5996 4.62902 20.4853 3.51472C19.371 2.40042 18.0481 1.5165 16.5922 0.913446C15.1363 0.310389 13.5759 0 12 0V0ZM12 21.6C10.1013 21.6 8.24524 21.037 6.66653 19.9821C5.08782 18.9272 3.85736 17.4279 3.13076 15.6738C2.40416 13.9196 2.21405 11.9893 2.58447 10.1271C2.95488 8.26491 3.8692 6.55436 5.21178 5.21177C6.55436 3.86919 8.26492 2.95488 10.1271 2.58446C11.9894 2.21404 13.9196 2.40416 15.6738 3.13076C17.4279 3.85736 18.9272 5.08781 19.9821 6.66652C21.037 8.24524 21.6 10.1013 21.6 12C21.6 14.5461 20.5886 16.9879 18.7882 18.7882C16.9879 20.5886 14.5461 21.6 12 21.6V21.6Z"
        />
      </symbol>

      <symbol id="deleteIconSVG" viewBox="0 0 24 24">
        <title>Delete task</title>
        <path
          d="M3 6H5H21"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10 11V17"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M14 11V17"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </symbol>

      <symbol id="editIconSVG" viewBox="0 0 24 24">
        <path
          d="M12 20H21"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M16.5 3.5C16.8978 3.10217 17.4374 2.87868 18 2.87868C18.2786 2.87868 18.5544 2.93355 18.8118 3.04015C19.0692 3.14676 19.303 3.30301 19.5 3.5C19.697 3.69698 19.8532 3.93083 19.9598 4.1882C20.0665 4.44557 20.1213 4.72142 20.1213 5C20.1213 5.27857 20.0665 5.55442 19.9598 5.81179C19.8532 6.06916 19.697 6.30301 19.5 6.5L7 19L3 20L4 16L16.5 3.5Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </symbol>
    </svg>

    <main id="parent">
      <!-------------------------------------------- TITLE BAR -------------------------------------------->
      <div id="titleBar">
        <p id="mainTitle">TODO DESK</p>

        <input
          type="text"
          name="searchBar"
          id="searchBar"
          placeholder="Search tasks"
        />

        <div style="display: inherit; align-items: center">
          <a href="#mySidenav" style="margin-top: 2px">
            <img
              id="profileBtn"
              src="./images/profileIcon.svg"
              width="35px"
              height="35px"
            />
          </a>
        </div>
      </div>
      <!-------------------------------------------- MAIN SECTION -------------------------------------------->
      <section id="mainSection">
        <!------------------------------ NOT STARTED FLEX COLUMN ------------------------------>
        <div id="notStarted">
          <div id="notStartedTitle">
            TO DO
            <img
              src="./images/sortIcon.svg"
              id="sortNotStartedBtn"
              alt="sort-notStarted"
              style="cursor: pointer"
              title="Sort ToDo"
            />
          </div>
          <div id="notStartedContent" ondragover="allowDrop(event)">
            <div class="taskCard">
              <input
                type="text"
                name="taskTitle"
                id="taskTitle"
                placeholder="Title"
                maxlength="30"
              />
              <input type="datetime-local" name="startDate" id="startDate" />
              <input type="datetime-local" name="endDate" id="endDate" />
              <!-- <img
                class="doneBtn"
                src="./images/icons8-checkmark.svg"
                alt="Done"
                width="30px"
                heigth="30px"
                title="Mark as done"
              /> -->
              <svg class="doneBtn"><use xlink:href="#tickIconSVG" /></svg>
              <svg class="editBtn"><use xlink:href="#editIconSVG" /></svg>
              <svg class="deleteBtn"><use xlink:href="#deleteIconSVG" /></svg>
            </div>
          </div>
        </div>
        <!------------------------------ IN PROGRESS FLEX COLUMN ------------------------------>
        <div id="inProgress">
          <div id="inProgressTitle">
            DOING
            <img
              src="./images/sortIcon.svg"
              id="sortInProgressBtn"
              alt="sort-inProgress"
              style="cursor: pointer"
              title="Sort Doing"
            />
          </div>
          <div id="inProgressContent" ondragover="allowDrop(event)"></div>
        </div>
        <!------------------------------ COMPLETED FLEX COLUMN ------------------------------>
        <div id="completed">
          <div id="completedTitle">
            DONE
            <img
              src="./images/sortIcon.svg"
              id="sortCompletedBtn"
              alt="sort-completed"
              style="cursor: pointer"
              title="sort Done"
            />
          </div>
          <div id="completedContent" ondragover="allowDrop(event)"></div>
        </div>
      </section>
      <!-- insert task pop up -->
      <div id="newTask-popup" class="popUp">
        <div class="popup-card">
          <h2>New Task</h2>
          <a class="close" href="#" title="Close" id="newTaskCloseBtn"
            >&times;</a
          >
          <div class="content">
            <input
              type="text"
              id="newTaskTitle"
              placeholder="Title"
              value=""
              maxlength="30"
            />
            <div>
              <label for="newTaskStartDate">Start Date&nbsp; :</label>
              <input type="datetime-local" id="newTaskStartDate" value="" />
            </div>
            <div>
              <label for="newTaskEndDate">End Date &nbsp;&nbsp; :</label>
              <input type="datetime-local" id="newTaskEndDate" value="" />
            </div>
          </div>
          <a href="#"><button id="newTaskInsertBtn">DONE</button></a>
        </div>
      </div>

      <!-- edit task pop up -->
      <div id="edit-popup" class="popUp">
        <div class="popup-card">
          <h2>Edit Task</h2>
          <a class="close" title="Close" id="editCloseBtn">&times;</a>
          <div class="content">
            <div>
              <label for="editTaskTitle">Title &nbsp; :</label>
              <input
                type="text"
                id="editTaskTitle"
                placeholder="Title"
                value=""
                maxlength="30"
              />
            </div>
            <div>
              <label for="editTaskStartDate">Start Date&nbsp; :</label>
              <input type="datetime-local" id="editTaskStartDate" value="" />
            </div>
            <div>
              <label for="editTaskEndDate">End Date &nbsp;&nbsp; :</label>
              <input type="datetime-local" id="editTaskEndDate" value="" />
            </div>
          </div>
          <a href="#"><button id="editSaveBtn">SAVE</button></a>
        </div>
      </div>

      <!-- delete task pop up -->
      <div id="delete-popup">
        <div class="popup-card">
          <h2>Are you sure you want to delete this task?</h2>
          <a class="close" href="#" title="Close">&times;</a>
          <div class="content">
            <a id="deleteYes" title="Yes">YES</a>
            <a id="deleteNo" title="No">NO</a>
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <a href="#newTask-popup">
          <img
            id="createTaskBtn"
            src="./images/plusIcon.svg"
            alt="createTask"
            width="70px"
            height="70px"
        /></a>
      </footer>

      <!-- side navigation bar -->
      <div id="mySidenav" class="sidenav">
        <a href="#" id="navCloseBtn">&times;</a>
        <p id="username">Username</p>
        <p id="sortAllBtn" style="cursor: pointer">Sort all tasks</p>
        <button id="logout" onclick="location.href='/logout'">Logout</button>
      </div>
    </main>
    <script type="module" src="./scripts/userData.js"></script>
  </body>
</html>
