<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Planner Application, Author: rahulsiddarth " />
    <link rel="stylesheet" href="./styles/plannerStyle.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Planner</title>
  </head>
  <body>
    <main id="parent">
      <!-------------------------------------------- TITLE BAR -------------------------------------------->
      <div id="titleBar">
        <p>TODO DESK</p>
        <input
          type="text"
          list="task-datalist"
          name="searchBar"
          id="searchBar"
          placeholder="Search tasks"
        />
        <datalist id="task-datalist"> </datalist>
        <img src="./images/sortIcon.svg" id="sortAllBtn" alt="sort-all" style="cursor: pointer" />
      </div>
      <!-------------------------------------------- MAIN SECTION -------------------------------------------->
      <section id="mainSection">
        <!------------------------------ NOT STARTED FLEX COLUMN ------------------------------>
        <div id="notStarted">
          <div id="notStartedTitle">
            Not Started
            <img
              src="./images/sortIcon.svg"
              id="sortNotStartedBtn"
              alt="sort-notStarted"
              style="cursor: pointer"
            />
          </div>
          <div id="notStartedContent">
            <div class="taskCard">
              <input
                type="text"
                name="taskTitle"
                id="taskTitle"
                placeholder="Title"
                maxlength="30"
              />
              <input type="datetime-local" name="startDate" id="startDate" />
              <input type="datetime-local" name="endDate" id="endDate" />
              <img
                class="doneBtn"
                src="./images/icons8-checkmark.svg"
                alt="Done"
                width="30px"
                heigth="30px"
              />
              <img
                class="saveBtn"
                src="./images/saveIcon.svg"
                alt="Save"
                width="26px"
                heigth="26px"
              />
              <img
                class="deleteBtn"
                src="./images/deleteIcon.svg"
                alt="Delete"
                width="28px"
                heigth="28px"
              />
            </div>
          </div>
        </div>
        <!------------------------------ IN PROGRESS FLEX COLUMN ------------------------------>
        <div id="inProgress">
          <div id="inProgressTitle">
            In Progress
            <img
              src="./images/sortIcon.svg"
              id="sortInProgressBtn"
              alt="sort-inProgress"
              style="cursor: pointer"
            />
          </div>
          <div id="inProgressContent">
            <div class="taskCard">
              <input
                type="text"
                name="taskTitle"
                id="taskTitle"
                placeholder="Title"
                maxlength="30"
              />
              <input type="datetime-local" name="startDate" id="startDate" />
              <input type="datetime-local" name="endDate" id="endDate" />
              <img
                class="doneBtn"
                src="./images/icons8-checkmark.svg"
                alt="Done"
                width="30px"
                heigth="30px"
              />
              <img
                class="saveBtn"
                src="./images/saveIcon.svg"
                alt="Save"
                width="26px"
                heigth="26px"
              />
              <img
                class="deleteBtn"
                src="./images/deleteIcon.svg"
                alt="Delete"
                width="28px"
                heigth="28px"
              />
            </div>
          </div>
        </div>
        <!------------------------------ COMPLETED FLEX COLUMN ------------------------------>
        <div id="completed">
          <div id="completedTitle">
            Completed
            <img
              src="./images/sortIcon.svg"
              id="sortCompletedBtn"
              alt="sort-completed"
              style="cursor: pointer"
            />
          </div>
          <div id="completedContent"></div>
        </div>
      </section>
      <!-- pop up -->
      <div id="open-popup" class="popUp">
        <p>New Task</p>
        <a href="#close" title="Close" class="close">Close</a>
        <input type="text" id="newTaskTitle" placeholder="Title" value="" maxlength="30" />
        <input type="datetime-local" id="newTaskStartDate" value="" />
        <input type="datetime-local" id="newTaskEndDate" value="" />
        <a href="#close"><button id="newTaskInsertBtn">DONE</button></a>
      </div>

      <!-- footer -->
      <footer>
        <a href="#open-popup">
          <img
            id="createTaskBtn"
            src="./images/plusIcon.svg"
            alt="createTask"
            width="70px"
            height="70px"
        /></a>
      </footer>
    </main>
    <script type="module" src="./scripts/userData.js"></script>
  </body>
</html>
