<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Planner Application, Author: rahulsiddarth " />
    <link rel="stylesheet" href="./styles/plannerStyle.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Planner</title>
  </head>
  <body>
    <main id="parent">
      <!-------------------------------------------- TITLE BAR -------------------------------------------->
      <div id="titleBar">
        <div style="display: inherit; align-items: center">
          <a href="#mySidenav" style="margin-top: 2px">
            <img
              id="menuBtn"
              src="./images/menuIcon.svg"
              alt="createTask"
              width="25px"
              height="25px"
            />
          </a>
          <p style="margin-left: 8px">TODO DESK</p>
        </div>

        <input type="text" name="searchBar" id="searchBar" placeholder="Search tasks" />

        <img
          src="./images/sortIcon.svg"
          id="sortAllBtn"
          alt="sort-all"
          title="Sort All"
          style="cursor: pointer"
        />
      </div>
      <!-------------------------------------------- MAIN SECTION -------------------------------------------->
      <section id="mainSection">
        <!------------------------------ NOT STARTED FLEX COLUMN ------------------------------>
        <div id="notStarted">
          <div id="notStartedTitle">
            Not Started
            <img
              src="./images/sortIcon.svg"
              id="sortNotStartedBtn"
              alt="sort-notStarted"
              style="cursor: pointer"
              title="Sort notStarted"
            />
          </div>
          <div id="notStartedContent">
            <div class="taskCard">
              <input
                type="text"
                name="taskTitle"
                id="taskTitle"
                placeholder="Title"
                maxlength="30"
              />
              <input type="datetime-local" name="startDate" id="startDate" />
              <input type="datetime-local" name="endDate" id="endDate" />
              <img
                class="doneBtn"
                src="./images/icons8-checkmark.svg"
                alt="Done"
                width="30px"
                heigth="30px"
                title="Mark as done"
              />
              <img
                class="saveBtn"
                src="./images/saveIcon.svg"
                alt="Save"
                width="26px"
                heigth="26px"
              />
              <img
                class="deleteBtn"
                src="./images/deleteIcon.svg"
                alt="Delete"
                width="28px"
                heigth="28px"
              />
            </div>
          </div>
        </div>
        <!------------------------------ IN PROGRESS FLEX COLUMN ------------------------------>
        <div id="inProgress">
          <div id="inProgressTitle">
            In Progress
            <img
              src="./images/sortIcon.svg"
              id="sortInProgressBtn"
              alt="sort-inProgress"
              style="cursor: pointer"
              title="Sort inProgress"
            />
          </div>
          <div id="inProgressContent">
            <div class="taskCard">
              <input
                type="text"
                name="taskTitle"
                id="taskTitle"
                placeholder="Title"
                maxlength="30"
              />
              <input type="datetime-local" name="startDate" id="startDate" />
              <input type="datetime-local" name="endDate" id="endDate" />
              <img
                class="doneBtn"
                src="./images/icons8-checkmark.svg"
                alt="Done"
                width="30px"
                heigth="30px"
                title="Mark as done"
              />
              <img
                class="saveBtn"
                src="./images/saveIcon.svg"
                alt="Save"
                width="26px"
                heigth="26px"
              />
              <img
                class="deleteBtn"
                src="./images/deleteIcon.svg"
                alt="Delete"
                width="28px"
                heigth="28px"
              />
            </div>
          </div>
        </div>
        <!------------------------------ COMPLETED FLEX COLUMN ------------------------------>
        <div id="completed">
          <div id="completedTitle">
            Completed
            <img
              src="./images/sortIcon.svg"
              id="sortCompletedBtn"
              alt="sort-completed"
              style="cursor: pointer"
              title="sort completed"
            />
          </div>
          <div id="completedContent"></div>
        </div>
      </section>
      <!-- insert task pop up -->
      <div id="open-popup" class="popUp">
        <div class="popup-card">
          <h2>New Task</h2>
          <a class="close" href="#" title="Close">&times;</a>
          <div class="content">
            <input type="text" id="newTaskTitle" placeholder="Title" value="" maxlength="30" />
            <div>
              <label for="newTaskStartDate">Start Date&nbsp; :</label>
              <input type="datetime-local" id="newTaskStartDate" value="" />
            </div>
            <div>
              <label for="newTaskEndDate">End Date &nbsp;&nbsp; :</label>
              <input type="datetime-local" id="newTaskEndDate" value="" />
            </div>
          </div>
          <a href="#"><button id="newTaskInsertBtn">DONE</button></a>
        </div>
      </div>

      <!-- insert task pop up -->
      <div id="delete-popup">
        <div class="popup-card">
          <h2>Are you sure you want to delete this task?</h2>
          <a class="close" href="#" title="Close">&times;</a>
          <div class="content">
            <a id="deleteYes" title="Yes">YES</a>
            <a id="deleteNo" title="No">NO</a>
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <a href="#open-popup">
          <img
            id="createTaskBtn"
            src="./images/plusIcon.svg"
            alt="createTask"
            width="70px"
            height="70px"
        /></a>
      </footer>

      <!-- side navigation bar -->
      <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn">&times;</a>
        <p>Welcome!</p>
        <p id="username">Username</p>
        <button id="logout" onclick="location.href='/logout'">Logout</button>
      </div>
    </main>
    <script type="module" src="./scripts/userData.js"></script>
  </body>
</html>
