<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/loginPageStyle.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Planner</title>
  </head>
  <body>
    <div class="login">
      <p>TODO DESK</p>
      <form class="form" action="/userin" method="POST">
        <div class="input">
          <input type="text" class="input__email" placeholder="Username" name="uname" required />
        </div>
        <div class="input">
          <input
            type="password"
            class="input__password"
            placeholder="Password"
            name="pwd"
            required
          />
        </div>
        <div class="input">
          <input
            type="password"
            class="input__password"
            placeholder="Re-enter Password"
            name="pwd2"
            required
          />
        </div>
        <div id="errorMsg"><% if(messages.error) { %> <%= messages.error %> <% } %></div>
        <button class="formBtn" id="signInBtn" type="submit" value="signin" name="action">
          Sign in
        </button>
        <a href="/login" style="font-size: small">Already have an account? Login</a>
      </form>
    </div>
  </body>
</html>
