@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
* {
  box-sizing: border-box;
  outline: none;
  border: none;
}
input {
  background: transparent;
  font-size: large;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: #8b8b8b;
  box-sizing: border-box;
}
#titleBar {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  background-color: #4f4f4f;
  color: #ebebeb;
  padding: 0% 2%;
}
#searchBar {
  font-size: small;
  background-color: #c2c2c2;
  border-radius: 20px;
  padding: 1% 2%;
  width: 50%;
  height: 5.5vh;
}
#title {
  background-color: gray;
  flex-grow: 1;
}

/******************** mainSection ********************/
#mainSection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: start;
}
#notStarted,
#inProgress,
#completed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#notStartedTitle,
#inProgressTitle,
#completedTitle {
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 3% 5%;
}
#notStartedTitle {
  background-color: #fdff8c;
}
#inProgressTitle {
  background-color: #ffec87;
}
#completedTitle {
  background-color: #e2ffa5;
}
#notStartedContent,
#inProgressContent,
#completedContent {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
}
.taskCard {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
  padding: 5% 6%;
  column-gap: 5%;
  margin-bottom: 3%;
  border-radius: 15px;
}
.taskCard img {
  cursor: pointer;
}
#taskTitle,
#startDate,
#endDate {
  width: 100%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 900px) {
  #mainSection {
    flex-direction: column;
  }
  .taskCard {
    row-gap: 10px;
  }
  #taskTitle {
    flex: 0 1 100%;
  }
}

#createTaskBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
}
#createTaskBtn:hover {
  transform: scale(1.2);
}
