@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
}
input {
  background: transparent;
  font-size: large;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100vh;
  background-color: #e5e5e5;
  box-sizing: border-box;
}
/******************** icons *******************/
.icons {
  display: none;
}
.doneBtn,
.deleteBtn,
.editBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.doneBtn {
  fill: #4f4f4f;
}
.doneBtn:hover {
  fill: #42bc83;
}
.editBtn,
.deleteBtn {
  stroke: #4f4f4f;
  fill: none;
}
.editBtn:hover {
  stroke: #008aca;
}
.deleteBtn {
  margin-left: auto;
}
.deleteBtn:hover {
  stroke: #e35664;
}

#titleBar {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #1d2939;
  padding: 0% 1%;
}

#mainTitle {
  font-size: 24px;
  margin-left: 8px;
}

#searchBar {
  font-size: small;
  background-color: #c2c2c2;
  border-radius: 20px;
  padding: 1% 2%;
  width: 50%;
}
#title {
  background-color: gray;
  flex-grow: 1;
}

/******************** mainSection ********************/
#mainSection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: start;
}

#notStarted,
#inProgress,
#completed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  padding: 3% 0% 3% 3%;
}

#completed {
  padding-right: 3%;
}

#notStartedTitle,
#inProgressTitle,
#completedTitle {
  color: white;
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  font-size: 24px;
  font-weight: 700;
}

#notStartedTitle {
  background-color: #e35664;
}
#inProgressTitle {
  background-color: #fdb03c;
}
#completedTitle {
  background-color: #42bc83;
}
#notStartedContent,
#inProgressContent,
#completedContent {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  overflow: auto;
  max-height: 73vh;
  height: 85vh;
  background-color: #ffffff;
}
.taskCard {
  display: flex;
  flex-wrap: wrap;
  background-color: #fcfcfd;

  box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
  border-radius: 8px;

  padding: 5% 6%;
  column-gap: 5%;
  margin-bottom: 8%;
  border-left: 8px solid transparent;
  transition: border 0.6s linear;
}
.taskCard img {
  cursor: pointer;
}
#taskTitle {
  width: 100%;
  margin-bottom: 5%;
  font-weight: 700;
  font-size: 20px;
}
#startDate,
#endDate {
  width: 100%;
  margin-bottom: 5%;
  font-weight: 700;
  font-size: 14px;
  color: #98a2b3;
}

@media only screen and (max-width: 900px) {
  #mainSection {
    flex-direction: column;
  }
  #mainSection div {
    width: 100%;
  }
  .taskCard {
    row-gap: 10px;
  }
  #taskTitle {
    flex: 0 1 100%;
  }
}

#createTaskBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  transition-duration: 0.3s;
}
#createTaskBtn:hover {
  transform: scale(1.2);
}

/**************************** pop up *****************************/

.popUp,
#delete-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
#delete-popup a {
  cursor: pointer;
}
.popUp:target {
  visibility: visible;
  opacity: 1;
}

.popup-card {
  margin: 15% auto;
  padding: 30px 30px 55px 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 200ms;
}

.popup-card h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup-card .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup-card .close:hover {
  color: #008aca;
}
.popup-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

@media only screen and (max-width: 1400px) {
  .popup-card {
    width: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .popup-card {
    width: 90%;
  }
}
#newTaskInsertBtn,
#editSaveBtn {
  padding: 10px 15px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #333333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}
/********************** scroll bar **********************/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px rgba(155, 155, 155, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(151, 151, 151, 0.6);
  box-shadow: inset 0 0 6px rgba(151, 151, 151, 0.6);
  background-color: #555;
}

/**************** side navigation bar **********************/
.sidenav {
  height: 100%;
  min-width: 200px;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 300ms;
  padding-top: 60px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px -5px rgba(0, 0, 0, 0.75);
}
#mySidenav:target {
  visibility: visible;
  opacity: 1;
}
.sidenav a,
.sidenav p {
  padding: 0% 0% 3% 10%;
  text-decoration: none;
  font-size: 25px;
  color: #667085;
  display: block;
  transition: 0.3s;
  margin: 0%;
  font-size: medium;
}

#navCloseBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#navCloseBtn:hover {
  color: #e7394a;
}
#logout {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 3%;
  background-color: rgba(211, 210, 210, 0.726);
  transition: 300ms;
}
#logout:hover {
  background-color: #e7394a;
}
#username {
  font-size: 35px;
  color: #1d2939;
}
